@model SARVA.Models.Cliente
@{
    ViewBag.Title = "Buscar Cliente";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link href="~/css/BuscarCliente.css" rel="stylesheet" />
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<div class="titulo">

    <br />
    <br />
       <h1 style="text-align:center;color:white;">Buscar Cliente</h1>
        
  </div>

<br />
<br />

@using (Html.BeginForm("BuscarEmpresa", "Empresas", new { requisitando = 2 }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div align="center" class="form-group">
        <!--<label for="nome">Buscar Empresa</label>-->
        <div class="col-md-10">
            @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control", @id = "nomeCliente" } })
            @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div align="center" class="form-group">
        <div style="display: inline-flex">
            <div style="padding-right: 50px;">
                <input type="submit" value="Continuar" class="btn btn-light" />
            </div>
            <div>
                @Html.ActionLink("Voltar", "LerDadosVenda", "Vendas", null, htmlAttributes: new { @class = "btn btn-warning" })
            </div>
        </div>

    </div>
}



<script>
    $(function () {
        $("#nomeCliente").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Clientes/GetSearchValue",
                    dataType: "json",
                    type: "POST",
                    data: {
                        search: $("#nomeCliente").val()
                    },
                    success: function (data) {
                        console.log(data);
                        response($.map(data, function (item) {
                            return { label: item.nomeCliente, value: item.nomeCliente }
                        }));
                    },
                    minLength: 2,
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });
            }
        });
    });
</script>